.dad
{  
  border: solid #41411b;
  height: 430px;
  width: auto;  
  background-color: rosybrown;
  padding:0px;
  opacity: .8;
}
  
body{
background-repeat: no-repeat;
background-size: cover;
}




}